.left_side_menu_1{
    padding: 40px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -30%;
    z-index: 9999;
    width: 30%;
    height:100%;
    .left_side_menu_1_logo{
        .header_1_logo{

        }
    }
    .left_side_menu_1_nav{
        .left_side_menu_1_list{

        }
    }
    .left_side_menu_1_about{

    }
    .left_side_menu_1_social{

    }
}
