.flex{
    display: flex;
}
.center-vertical{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.center-horizontal{
    justify-content: center;
}
